<!doctype html>
<html data-ng-app="comaDemo">
<head>
    <title>Coma Playground</title>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .header {
            margin-bottom: 30px;
            padding-bottom: 20px;
            border-bottom: 1px solid #e5e5e5;
        }
        .header h3 {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 40px;
        }
    </style>
    <link rel="stylesheet" href="lib/bootstrap-3.3.2/css/bootstrap.css">
</head>

<body>
<div data-ng-controller="RootCtrl" class="container">
    <div class="header clearfix">
        <button class="pull-right btn btn-danger" data-ng-click="dropDatabase()">Drop Database</button>
        <h3 class="text-muted">Coma Playground</h3>
    </div>

    <button class="pull-right btn btn-primary" data-ng-click="createPerson()">Create Person</button>
    <h4>People</h4>
    <br />

    <table class="table table-striped">
        <tr data-ng-repeat="person in people track by person.id">
            <td>{{ person.added | date:'short' }}</td>
            <td>{{ person.$entity.storedState.firstName }} {{ person.$entity.storedState.lastName }}</td>
            <td style="width: 72px"><a class="btn btn-default" data-ng-class="{active: $parent.viewPerson == person}" data-ng-click="$parent.viewPerson = ($parent.viewPerson == person) ? null : person">View</a></td>
        </tr>
    </table>

    <div data-ng-show="viewPerson != null">
        <h4>{{viewPerson.$entity.storedState.firstName}} {{viewPerson.$entity.storedState.lastName}}</h4>
        <form class="form-horizontal" data-ng-submit="viewPerson.$save()">
            <div class="form-group">
                <label for="firstName" class="col-sm-2 control-label">First Name</label>
                <div class="col-sm-6">
                    <input type="text" data-ng-model="viewPerson.firstName" class="form-control" id="firstName" placeholder="First Name">
                </div>
            </div>
            <div class="form-group">
                <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                <div class="col-sm-6">
                    <input type="text" data-ng-model="viewPerson.lastName" class="form-control" id="lastName" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button data-ng-disabled="!viewPerson.$isDirty()" type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-primary" data-ng-click="addPhoneNumber(viewPerson)">Add Phone Number</button>
                    <button type="button" class="btn btn-default" data-ng-click="viewPerson.$expand('phoneNumbers')">Refresh Phone Numbers</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <table class="table table-striped">
                        <tr data-ng-repeat="phoneNumber in viewPerson.phoneNumbers track by phoneNumber.id">
                            <td>{{ phoneNumber.number }}</td>
                            <td>Primary: {{ phoneNumber.primary }}</td>
                            <td><a href data-ng-click="removePhoneNumber(phoneNumber); viewPerson.phoneNumbers.splice($index, 1); viewPerson.$storeState()">remove</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
        <pre>{{ viewPerson | json }}</pre>
    </div>

    <h4>Phone Numbers</h4>
    <br />

    <table class="table table-striped">
        <tr data-ng-repeat="phoneNumber in phoneNumbers track by phoneNumber.id">
            <td>{{ phoneNumber.$entity.storedState.number }}</td>
            <td>Primary: {{ phoneNumber.primary }}</td>
            <td style="width: 72px"><a class="btn btn-default" data-ng-class="{active: $parent.viewPhoneNumber == phoneNumber}" data-ng-click="$parent.viewPhoneNumber = ($parent.viewPhoneNumber == phoneNumber) ? null : phoneNumber">View</a></td>
        </tr>
    </table>

    <div data-ng-show="viewPhoneNumber != null">
        <h4>{{viewPhoneNumber.$entity.storedState.number}}</h4>
        <form class="form-horizontal" data-ng-submit="viewPhoneNumber.$save()">
            <div class="form-group">
                <label for="number" class="col-sm-2 control-label">Number</label>
                <div class="col-sm-6">
                    <input type="text" data-ng-model="viewPhoneNumber.number" class="form-control" id="number" placeholder="555-555-5555">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-6">
                    <button data-ng-disabled="!viewPhoneNumber.$isDirty()" type="submit" class="btn btn-success">Save</button>
                </div>
            </div>
        </form>
        <pre>{{ viewPhoneNumber | json }}</pre>
    </div>
</div>

<script type="text/javascript" src="../tests/lib/angular.js"></script>
<script type="text/javascript" src="../src/_module.js"></script>
<script type="text/javascript" src="../src/coma.provider.js"></script>
<script type="text/javascript" src="../src/coma.adapterResponse.js"></script>
<script type="text/javascript" src="../src/coma.hasManyAssociation.js"></script>
<script type="text/javascript" src="../src/coma.hasOneAssociation.js"></script>
<script type="text/javascript" src="../src/coma.modelField.js"></script>
<script type="text/javascript" src="../src/coma.preparedQueryOptions.js"></script>
<script type="text/javascript" src="../src/coma.predicate.js"></script>
<script type="text/javascript" src="../src/coma.baseModelService.js"></script>
<script type="text/javascript" src="../src/adapters/indexedDB.adapter.js"></script>
<script type="text/javascript" src="module.js"></script>
<script type="text/javascript" src="controllers/rootController.js"></script>
<script type="text/javascript" src="models/phoneNumber.js"></script>
<script type="text/javascript" src="models/person.js"></script>
</body>
</html>