<!doctype html>
<html data-ng-app="comaDemo">
<head>
    <title>Coma Playground</title>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
        body {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .header {
            margin-bottom: 30px;
            padding-bottom: 20px;
            border-bottom: 1px solid #e5e5e5;
        }
        .header h3 {
            margin-top: 0;
            margin-bottom: 0;
            line-height: 40px;
        }
    </style>
    <link rel="stylesheet" href="lib/bootstrap-3.3.2/css/bootstrap.css">
</head>

<body>
<div data-ng-controller="RootCtrl" class="container">
    <div class="header clearfix">
        <div class="pull-right">
            <button class="btn btn-primary" data-ng-click="syncPeople()">Sync</button>
        </div>
        <h3 class="text-muted">Coma Playground</h3>
    </div>

    <div class="ng-cloak">
        <ul class="nav nav-tabs nav-justified">
            <li data-ng-class="{active: view == 'local'}"><a href data-ng-click="view = 'local'">Local</a></li>
            <li data-ng-class="{active: view == 'remote'}"><a href data-ng-click="view = 'remote'">Remote</a></li>
        </ul>

        <br/>

        <div data-ng-show="view == 'local'">
            <button class="pull-right btn btn-primary" data-ng-click="createPerson()">New</button>
            <h4>Local People</h4>
            <br />

            <table class="ng-cloak table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Modified</th>
                    <th></th>
                </tr>
                </thead>
                <tr data-ng-repeat="person in localPeople track by person.id"
                    data-ng-click="viewPerson(person)"
                    data-ng-class="{active: $parent.localPerson.id == person.id}"
                    style="cursor: pointer">
                    <td>{{ person.$entity.storedState.firstName }} {{ person.$entity.storedState.lastName }}</td>
                    <td>{{ person.lastModified | date:'short' }}</td>
                    <td style="width: 1px"><a class="btn btn-danger btn-sm" data-ng-click="removePerson(person, $index, $event)">Remove</a></td>
                </tr>
            </table>

            <div data-ng-show="localPerson">
                <h4>{{localPerson.$entity.storedState.firstName}} {{localPerson.$entity.storedState.lastName}}</h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="firstName" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-6">
                            <input type="text" data-ng-model="localPerson.firstName" class="form-control" id="firstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-6">
                            <input type="text" data-ng-model="localPerson.lastName" class="form-control" id="lastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button data-ng-disabled="!localPerson.$isDirty()" type="button" class="btn btn-success" data-ng-click="localPerson.$save()">Save</button>
                        </div>
                    </div>
                </form>
                <pre>{{ localPerson | json }}</pre>
            </div>
        </div>

        <div data-ng-show="view == 'remote'">
            <button class="pull-right btn btn-primary" data-ng-click="createPerson(true)">New</button>
            <h4>Remote People</h4>
            <br />

            <table class="ng-cloak table table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Last Modified</th>
                    <th></th>
                </tr>
                </thead>
                <tr data-ng-repeat="person in remotePeople track by person.id"
                    data-ng-click="viewPerson(person)"
                    data-ng-class="{active: $parent.remotePerson.id == person.id}"
                    style="cursor: pointer">
                    <td>{{ person.$entity.storedState.firstName }} {{ person.$entity.storedState.lastName }}</td>
                    <td>{{ person.lastModified | date:'short' }}</td>
                    <td style="width: 1px"><a class="btn btn-danger btn-sm" data-ng-click="removePerson(person, $index, $event, true)">Remove</a></td>
                </tr>
            </table>

            <div data-ng-show="remotePerson">
                <h4>{{remotePerson.$entity.storedState.firstName}} {{remotePerson.$entity.storedState.lastName}}</h4>
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="remoteFirstName" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-6">
                            <input type="text" data-ng-model="remotePerson.firstName" class="form-control" id="remoteFirstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="remoteLastName" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-6">
                            <input type="text" data-ng-model="remotePerson.lastName" class="form-control" id="remoteLastName" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button data-ng-disabled="!remotePerson.$isDirty()" type="button" class="btn btn-success" data-ng-click="remotePerson.$save()">Save</button>
                        </div>
                    </div>
                </form>
                <pre>{{ remotePerson | json }}</pre>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="../tests/lib/angular.js"></script>
<script type="text/javascript" src="../tests/lib/angular-mocks.js"></script>
<script type="text/javascript" src="lib/moment-2.8.2/moment.js"></script>
<script type="text/javascript" src="../src/_module.js"></script>
<script type="text/javascript" src="../src/coma.adapterResponse.js"></script>
<script type="text/javascript" src="../src/coma.baseModelService.js"></script>
<script type="text/javascript" src="../src/coma.hasManyAssociation.js"></script>
<script type="text/javascript" src="../src/coma.hasOneAssociation.js"></script>
<script type="text/javascript" src="../src/coma.localStorage.js"></script>
<script type="text/javascript" src="../src/coma.modelField.js"></script>
<script type="text/javascript" src="../src/coma.polyfill.js"></script>
<script type="text/javascript" src="../src/coma.predicate.js"></script>
<script type="text/javascript" src="../src/coma.preparedQueryOptions.js"></script>
<script type="text/javascript" src="../src/coma.provider.js"></script>
<script type="text/javascript" src="../src/coma.syncHandler.js"></script>
<script type="text/javascript" src="../src/adapters/indexedDB.adapter.js"></script>
<script type="text/javascript" src="../src/adapters/odataREST.adapter.js"></script>
<script type="text/javascript" src="module.js"></script>
<script type="text/javascript" src="rootController.js"></script>
<script type="text/javascript" src="mockBackend/mockBackend.js"></script>
<script type="text/javascript" src="models/phoneNumber.js"></script>
<script type="text/javascript" src="models/person.js"></script>
</body>
</html>