<!doctype html>
<html data-ng-app="comaDemo">
<head>
    <title>Coma Playground</title>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body>
<div data-ng-controller="RootCtrl">
    <button data-ng-click="dropDatabase()">Drop Database</button>
    <hr />
    <button data-ng-click="createPerson()">Create Person</button>
    <ul>
        <li data-ng-repeat="person in people track by person.id">
            <span>{{ person.added | date:'short' }} : {{ person.firstName }} {{ person.lastName }} </span>
            <button data-ng-click="person.$save()">save</button>
            <button data-ng-click="person.$reset()">reset</button>
            <button data-ng-click="person.$expand('phoneNumbers')">expand</button>
            <button data-ng-click="removePerson(person, $index)">remove</button>
            <pre>{{ person | json }}</pre>
        </li>
    </ul>
    <hr />
    <button data-ng-click="createPhoneNumber()">Create Phone Number</button>
    <ul>
        <li data-ng-repeat="phoneNumber in phoneNumbers track by phoneNumber.id">
            <span>{{ phoneNumber.number }} - Primary: {{ phoneNumber.primary }} </span>
            <button data-ng-click="phoneNumber.$save()">save</button>
            <button data-ng-click="phoneNumber.$reset()">reset</button>
            <button data-ng-click="phoneNumber.$expand('person')">expand</button>
            <button data-ng-click="removePhoneNumber(phoneNumber, $index)">remove</button>
            <pre>{{ phoneNumber | json }}</pre>
        </li>
    </ul>
</div>

<script type="text/javascript" src="../tests/lib/angular.js"></script>
<script type="text/javascript" src="../src/_module.js"></script>
<script type="text/javascript" src="../src/coma.provider.js"></script>
<script type="text/javascript" src="../src/coma.adapterResponse.js"></script>
<script type="text/javascript" src="../src/coma.hasManyAssociation.js"></script>
<script type="text/javascript" src="../src/coma.hasOneAssociation.js"></script>
<script type="text/javascript" src="../src/coma.modelField.js"></script>
<script type="text/javascript" src="../src/coma.preparedQueryOptions.js"></script>
<script type="text/javascript" src="../src/coma.predicate.js"></script>
<script type="text/javascript" src="../src/coma.baseModelService.js"></script>
<script type="text/javascript" src="../src/adapters/indexedDB.adapter.js"></script>
<script type="text/javascript" src="module.js"></script>
<script type="text/javascript" src="controllers/rootController.js"></script>
<script type="text/javascript" src="models/phoneNumber.js"></script>
<script type="text/javascript" src="models/person.js"></script>
</body>
</html>